@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  font-size: 12px;
  --var-soft-blue: black;
  --var-cyan: hsl(180, 3%, 82%);
  --var-main-darkest: linear-gradient(to left, #a770ef, #cf8bf3, #fdb99b);
  --var-card-dark: white;

  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: black;
  --var-small-heading: normal normal 400 1em/1em "Urbanist", sans-serif;
  --var-para: normal normal 300 1em/1.55em "Urbanist", sans-serif;
}

.heading-card {
  font: var(--var-heading);
  color: var(--var-lightest);
  padding: 1px 0;
}

.heading-2-card {
  font: var(--var-small-heading);
  color: var(--var-lightest);
  font-size: 15px;
}

.para-card {
  font: var(--var-para);
  color: var(--var-soft-blue);
  font-size: 15px;
}

.span-card {
  color: black;
}

.card-container {
  width: 100%;
  background: var(--var-card-dark);
  border-radius: 15px;
  padding: 1rem;
  border: 1px solid white;
}

div.coin-base,
.time-left,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.card-attribute {
  border-top: 2px solid transparent;
  border-image: linear-gradient(to right, red, blue) 1;
  color: black;
  font-size: 15px;
}

a.hero-image-container {
  position: relative;
  display: block;
}

img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

@media (min-width: 400px) {
  img.eye {
    max-width: 3em;
  }
}

.small-image {
  width: 1.2em;
  margin-right: 0.5em;
}

.small-avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

div.attribution {
  margin: 0 auto;
  width: 100%;
  font: var(--var-para);
  text-align: center;
  padding: 1.5em 0 4em 0;
  color: var(--var-line-dark);
}
.attribution a {
  color: var(--var-soft-blue);
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
