.inner-card {
  background: none;
  color: white;
}
.paper {
  border-radius: 20px;
  box-shadow: none;
  /* background: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.216);
  backdrop-filter: blur(2.5px);
  color: white;*/
  /* box-shadow: 0 0 8px 1px rgba(15, 2, 62, 0.997); */
  /* background: linear-gradient(to bottom, rgb(243, 243, 243), rgba(0, 0, 0, 0.904)); */
}

.box {
  /* border: 0px solid rgba(255, 255, 255, 0.25); */
  border-radius: 20px;
  background-color: rgba(240, 239, 241, 0.33);
  box-shadow: 0 0 10px 1px rgba(240, 239, 241, 0.33);
  backdrop-filter: blur(2.5px);
}
