.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}

.inner-card {
  background: none;
  color: white;
}
.paper {
  background-color: #8ec5fc;
  box-shadow: 0 0 10px 1px rgba(14, 2, 33, 0.982);
  background: url("../../public/bgv.jpg") center / cover no-repeat fixed;
  color: white;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(64, 30, 137, 0.196);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.216);
  backdrop-filter: blur(2.5px);
}
