@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bodymain {
  background: url("../public/bgm2.jpg") center / cover no-repeat fixed;
  /* background: linear-gradient(to right, black, rgb(9, 9, 61), black); */
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reduce the width of the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* You can adjust the width as per your preference */
  display: none;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Change the color as needed */
}

/* Change the color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Change the color as needed */
  border-radius: 4px; /* Change the border-radius as needed */
}
